USE [master]
GO
/****** Objeto: Database [OCN_DB] Fecha de script: 07/10/2026 04:58:45 p. m. ******/
CREATE DATABASE [OCN_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OCN_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVERNEW\MSSQL\DATA\OCN_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OCN_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVERNEW\MSSQL\DATA\OCN_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OCN_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OCN_DB]
GO
/****** Objeto: Schema [OCN] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
CREATE SCHEMA [OCN]
GO
/****** Objeto: UserDefinedFunction [OCN].[fn_dias_intervencion_abierta] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [OCN].[fn_dias_intervencion_abierta] (@id_intervencion INT)
RETURNS INT
AS
BEGIN
    DECLARE @dias INT;
    SELECT @dias = DATEDIFF(DAY, fecha_creacion, ISNULL(fecha_ejecucion, GETDATE()))
    FROM OCN.intervencion
    WHERE id_intervencion = @id_intervencion;
    RETURN @dias;
END
GO
/****** Objeto: Table [OCN].[tipo_zona] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OCN].[tipo_zona](
	[id_tipo_zona] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tipo_zona] [varchar](100) NOT NULL,
	[descripcion_tipo_zona] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_zona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [OCN].[zona] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OCN].[zona](
	[id_zona] [int] IDENTITY(1,1) NOT NULL,
	[nombre_zona] [varchar](100) NOT NULL,
	[id_tipo_zona] [int] NOT NULL,
	[poblacion_aprox] [int] NOT NULL,
	[descripcion_zona] [varchar](255) NOT NULL,
	[id_zona_padre] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_zona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [OCN].[levantamiento] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OCN].[levantamiento](
	[id_levantamiento] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[descripcion_levantamiento] [varchar](255) NOT NULL,
	[nombre_equipo] [varchar](100) NOT NULL,
	[id_zona] [int] NOT NULL,
	[num_integrantes] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_levantamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [OCN].[problematica] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OCN].[problematica](
	[id_problematica] [int] IDENTITY(1,1) NOT NULL,
	[nombre_problematica] [varchar](100) NOT NULL,
	[categoria] [varchar](100) NOT NULL,
	[nivel_prioridad] [varchar](100) NOT NULL,
	[descripcion_problematica] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_problematica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [OCN].[grupo_etario] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OCN].[grupo_etario](
	[id_grupoetario] [int] IDENTITY(1,1) NOT NULL,
	[rango_edad] [varchar](50) NOT NULL,
	[nombre_grupo] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_grupoetario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [OCN].[deteccion] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OCN].[deteccion](
	[id_deteccion] [int] IDENTITY(1,1) NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[frecuencia] [varchar](100) NOT NULL,
	[intensidad] [varchar](100) NOT NULL,
	[observaciones_generales] [varchar](255) NOT NULL,
	[descripcion_anonima] [varchar](255) NOT NULL,
	[id_levantamiento] [int] NOT NULL,
	[id_problematica] [int] NOT NULL,
	[id_fuente] [int] NOT NULL,
	[id_grupoetario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_deteccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [OCN].[vw_reporte_detecciones_por_zona] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [OCN].[vw_reporte_detecciones_por_zona] as
select
    d.id_deteccion                      as folio_deteccion,
    z.nombre_zona                       as zona,
    tz.nombre_tipo_zona                 as tipo_zona,
    p.nombre_problematica               as problematica,
    p.categoria                         as categoria_problematica,
    p.nivel_prioridad                   as prioridad,
    d.frecuencia                        as frecuencia_ocurrencia,
    d.intensidad                        as intensidad_problema,
    ge.nombre_grupo                     as grupo_afectado,
    d.observaciones_generales           as observaciones,
    d.fecha_registro                    as fecha_registro
from ocn.deteccion as d
    inner join ocn.levantamiento as l   on d.id_levantamiento = l.id_levantamiento
    inner join ocn.zona as z            on l.id_zona = z.id_zona
    inner join ocn.tipo_zona as tz      on z.id_tipo_zona = tz.id_tipo_zona
    inner join ocn.problematica as p    on d.id_problematica = p.id_problematica
    inner join ocn.grupo_etario as ge   on d.id_grupoetario = ge.id_grupoetario;
GO
/****** Objeto: View [OCN].[vw_estadisticas_problematicas_por_zona] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [OCN].[vw_estadisticas_problematicas_por_zona] as
select
    z.nombre_zona                       as zona,
    tz.nombre_tipo_zona                 as tipo_zona,
    z.poblacion_aprox                   as poblacion_aproximada,
    p.categoria                         as categoria_problematica,
    p.nivel_prioridad                   as nivel_prioridad,
    count(d.id_deteccion)               as total_detecciones,
    sum(case when d.intensidad = 'alta'  then 1 else 0 end) as detecciones_intensidad_alta,
    sum(case when d.intensidad = 'media' then 1 else 0 end) as detecciones_intensidad_media,
    sum(case when d.intensidad = 'baja'  then 1 else 0 end) as detecciones_intensidad_baja
from ocn.deteccion as d
    inner join ocn.levantamiento as l   on d.id_levantamiento = l.id_levantamiento
    inner join ocn.zona as z            on l.id_zona = z.id_zona
    inner join ocn.tipo_zona as tz      on z.id_tipo_zona = tz.id_tipo_zona
    inner join ocn.problematica as p    on d.id_problematica = p.id_problematica
group by
    z.nombre_zona,
    tz.nombre_tipo_zona,
    z.poblacion_aprox,
    p.categoria,
    p.nivel_prioridad;
GO
/****** Objeto: Table [OCN].[tipo_fuente] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OCN].[tipo_fuente](
	[id_tipo_fuente] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tipo_fuente] [varchar](100) NOT NULL,
	[descripcion_tipo_fuente] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_fuente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [OCN].[fuente] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OCN].[fuente](
	[id_fuente] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_fuente] [int] NOT NULL,
	[confiabilidad] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_fuente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [OCN].[vw_levantamientos_con_fuente] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [OCN].[vw_levantamientos_con_fuente] as
select
    l.nombre_equipo                     as equipo_levantamiento,
    l.fecha                             as fecha_levantamiento,
    l.num_integrantes                   as integrantes_equipo,
    z.nombre_zona                       as zona_cubierta,
    tf.nombre_tipo_fuente               as metodo_recoleccion,
    f.confiabilidad                     as nivel_confiabilidad,
    ge.nombre_grupo                     as grupo_etario_participante,
    ge.rango_edad                       as rango_edad_participante,
    d.frecuencia                        as frecuencia_reporte,
    d.descripcion_anonima               as descripcion_anonima
from ocn.deteccion as d
    inner join ocn.levantamiento as l   on d.id_levantamiento = l.id_levantamiento
    inner join ocn.zona as z            on l.id_zona = z.id_zona
    inner join ocn.fuente as f          on d.id_fuente = f.id_fuente
    inner join ocn.tipo_fuente as tf    on f.id_tipo_fuente = tf.id_tipo_fuente
    inner join ocn.grupo_etario as ge   on d.id_grupoetario = ge.id_grupoetario;
GO
/****** Objeto: Table [OCN].[intervencion] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OCN].[intervencion](
	[id_intervencion] [int] IDENTITY(1,1) NOT NULL,
	[id_deteccion] [int] NOT NULL,
	[id_recurso] [int] NULL,
	[tipo_intervencion] [varchar](100) NOT NULL,
	[descripcion_intervencion] [varchar](255) NOT NULL,
	[responsable] [varchar](100) NOT NULL,
	[fecha_planeada] [datetime] NOT NULL,
	[fecha_ejecucion] [datetime] NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_actualizacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_intervencion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: UserDefinedFunction [OCN].[fn_intervenciones_por_estado] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [OCN].[fn_intervenciones_por_estado] (@estado VARCHAR(20))
RETURNS TABLE
AS
RETURN
(
    SELECT i.id_intervencion, i.tipo_intervencion, i.responsable, i.fecha_planeada, z.nombre_zona
    FROM OCN.intervencion i
    INNER JOIN OCN.deteccion d ON i.id_deteccion = d.id_deteccion
    INNER JOIN OCN.levantamiento l ON d.id_levantamiento = l.id_levantamiento
    INNER JOIN OCN.zona z ON l.id_zona = z.id_zona
    WHERE i.estado = @estado
);
GO
/****** Objeto: Table [OCN].[error_log] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OCN].[error_log](
	[id_error] [int] IDENTITY(1,1) NOT NULL,
	[fecha_error] [datetime] NOT NULL,
	[procedimiento] [varchar](200) NULL,
	[mensaje_error] [varchar](2000) NULL,
	[numero_error] [int] NULL,
	[severidad_error] [int] NULL,
	[estado_error] [int] NULL,
	[linea_error] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_error] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [OCN].[intervencion_auditoria] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OCN].[intervencion_auditoria](
	[id_auditoria] [int] IDENTITY(1,1) NOT NULL,
	[id_intervencion] [int] NOT NULL,
	[estado_anterior] [varchar](20) NULL,
	[estado_nuevo] [varchar](20) NOT NULL,
	[fecha_cambio] [datetime] NOT NULL,
	[usuario_bd] [varchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [OCN].[recurso_comunitario] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OCN].[recurso_comunitario](
	[id_recurso] [int] IDENTITY(1,1) NOT NULL,
	[nombre_recurso] [varchar](150) NOT NULL,
	[tipo_recurso] [varchar](100) NOT NULL,
	[id_zona] [int] NOT NULL,
	[capacidad] [int] NULL,
	[descripcion_recurso] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_recurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [OCN].[error_log] ADD  CONSTRAINT [df_error_fecha]  DEFAULT (getdate()) FOR [fecha_error]
GO
ALTER TABLE [OCN].[intervencion] ADD  CONSTRAINT [df_intervencion_fecha_creacion]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [OCN].[intervencion] ADD  CONSTRAINT [df_intervencion_fecha_actualizacion]  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [OCN].[intervencion_auditoria] ADD  CONSTRAINT [df_auditoria_fecha]  DEFAULT (getdate()) FOR [fecha_cambio]
GO
ALTER TABLE [OCN].[intervencion_auditoria] ADD  CONSTRAINT [df_auditoria_usuario]  DEFAULT (suser_sname()) FOR [usuario_bd]
GO
ALTER TABLE [OCN].[deteccion]  WITH CHECK ADD FOREIGN KEY([id_fuente])
REFERENCES [OCN].[fuente] ([id_fuente])
GO
ALTER TABLE [OCN].[deteccion]  WITH CHECK ADD FOREIGN KEY([id_grupoetario])
REFERENCES [OCN].[grupo_etario] ([id_grupoetario])
GO
ALTER TABLE [OCN].[deteccion]  WITH CHECK ADD FOREIGN KEY([id_levantamiento])
REFERENCES [OCN].[levantamiento] ([id_levantamiento])
GO
ALTER TABLE [OCN].[deteccion]  WITH CHECK ADD FOREIGN KEY([id_problematica])
REFERENCES [OCN].[problematica] ([id_problematica])
GO
ALTER TABLE [OCN].[fuente]  WITH CHECK ADD FOREIGN KEY([id_tipo_fuente])
REFERENCES [OCN].[tipo_fuente] ([id_tipo_fuente])
GO
ALTER TABLE [OCN].[intervencion]  WITH CHECK ADD FOREIGN KEY([id_deteccion])
REFERENCES [OCN].[deteccion] ([id_deteccion])
GO
ALTER TABLE [OCN].[intervencion]  WITH CHECK ADD FOREIGN KEY([id_recurso])
REFERENCES [OCN].[recurso_comunitario] ([id_recurso])
GO
ALTER TABLE [OCN].[intervencion_auditoria]  WITH CHECK ADD  CONSTRAINT [fk_auditoria_intervencion] FOREIGN KEY([id_intervencion])
REFERENCES [OCN].[intervencion] ([id_intervencion])
ON DELETE CASCADE
GO
ALTER TABLE [OCN].[intervencion_auditoria] CHECK CONSTRAINT [fk_auditoria_intervencion]
GO
ALTER TABLE [OCN].[levantamiento]  WITH CHECK ADD FOREIGN KEY([id_zona])
REFERENCES [OCN].[zona] ([id_zona])
GO
ALTER TABLE [OCN].[recurso_comunitario]  WITH CHECK ADD FOREIGN KEY([id_zona])
REFERENCES [OCN].[zona] ([id_zona])
GO
ALTER TABLE [OCN].[zona]  WITH CHECK ADD FOREIGN KEY([id_tipo_zona])
REFERENCES [OCN].[tipo_zona] ([id_tipo_zona])
GO
ALTER TABLE [OCN].[zona]  WITH CHECK ADD  CONSTRAINT [fk_zona_zona_padre] FOREIGN KEY([id_zona_padre])
REFERENCES [OCN].[zona] ([id_zona])
GO
ALTER TABLE [OCN].[zona] CHECK CONSTRAINT [fk_zona_zona_padre]
GO
ALTER TABLE [OCN].[intervencion]  WITH CHECK ADD  CONSTRAINT [ck_intervencion_estado] CHECK  (([estado]='Completada' OR [estado]='EnProceso' OR [estado]='Planeada'))
GO
ALTER TABLE [OCN].[intervencion] CHECK CONSTRAINT [ck_intervencion_estado]
GO
/****** Objeto: StoredProcedure [OCN].[sp_consultar_detecciones_por_fecha] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [OCN].[sp_consultar_detecciones_por_fecha]
    @fecha_inicio datetime,
    @fecha_fin    datetime
as
begin
    select
        d.id_deteccion          as folio,
        d.fecha_registro        as fecha,
        z.nombre_zona           as zona,
        p.nombre_problematica   as problematica,
        p.nivel_prioridad       as prioridad,
        d.intensidad            as intensidad,
        d.frecuencia            as frecuencia,
        ge.nombre_grupo         as grupo_afectado,
        d.observaciones_generales as observaciones
    from OCN.deteccion as d
        inner join OCN.levantamiento as l  on d.id_levantamiento = l.id_levantamiento
        inner join OCN.zona as z           on l.id_zona = z.id_zona
        inner join OCN.problematica as p   on d.id_problematica = p.id_problematica
        inner join OCN.grupo_etario as ge  on d.id_grupoetario = ge.id_grupoetario
    where d.fecha_registro between @fecha_inicio and @fecha_fin
    order by d.fecha_registro asc;
end;
GO
/****** Objeto: StoredProcedure [OCN].[sp_intervencion_buscar] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [OCN].[sp_intervencion_buscar]
    @id_zona INT = NULL,
    @estado VARCHAR(20) = NULL,
    @tipo_intervencion VARCHAR(100) = NULL,
    @fecha_desde DATETIME = NULL,
    @fecha_hasta DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sql NVARCHAR(MAX);
    DECLARE @where NVARCHAR(MAX) = N' WHERE 1=1 ';

    IF @id_zona IS NOT NULL
        SET @where += N' AND z.id_zona = @p_id_zona ';
    IF @estado IS NOT NULL
        SET @where += N' AND i.estado = @p_estado ';
    IF @tipo_intervencion IS NOT NULL
        SET @where += N' AND i.tipo_intervencion = @p_tipo_intervencion ';
    IF @fecha_desde IS NOT NULL
        SET @where += N' AND i.fecha_planeada >= @p_fecha_desde ';
    IF @fecha_hasta IS NOT NULL
        SET @where += N' AND i.fecha_planeada <= @p_fecha_hasta ';

    SET @sql = N'
        SELECT i.id_intervencion, i.tipo_intervencion, i.estado, i.fecha_planeada,
               z.nombre_zona, p.nombre_problematica, i.responsable
        FROM OCN.intervencion i
        INNER JOIN OCN.deteccion d ON i.id_deteccion = d.id_deteccion
        INNER JOIN OCN.levantamiento l ON d.id_levantamiento = l.id_levantamiento
        INNER JOIN OCN.zona z ON l.id_zona = z.id_zona
        INNER JOIN OCN.problematica p ON d.id_problematica = p.id_problematica'
        + @where + N' ORDER BY i.fecha_planeada DESC;';

    EXEC sp_executesql @sql,
        N'@p_id_zona INT, @p_estado VARCHAR(20), @p_tipo_intervencion VARCHAR(100), @p_fecha_desde DATETIME, @p_fecha_hasta DATETIME',
        @p_id_zona = @id_zona, @p_estado = @estado, @p_tipo_intervencion = @tipo_intervencion,
        @p_fecha_desde = @fecha_desde, @p_fecha_hasta = @fecha_hasta;
END
GO
/****** Objeto: StoredProcedure [OCN].[sp_intervencion_escalar_cursor] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [OCN].[sp_intervencion_escalar_cursor]
    @dias_antiguedad INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @id_intervencion INT;

    DECLARE cur_intervenciones_pendientes CURSOR LOCAL FAST_FORWARD FOR
        SELECT id_intervencion
        FROM OCN.intervencion
        WHERE estado = 'Planeada'
          AND DATEDIFF(DAY, fecha_creacion, GETDATE()) > @dias_antiguedad;

    OPEN cur_intervenciones_pendientes;
    FETCH NEXT FROM cur_intervenciones_pendientes INTO @id_intervencion;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        UPDATE OCN.intervencion
        SET estado = 'EnProceso',
            fecha_actualizacion = GETDATE()
        WHERE id_intervencion = @id_intervencion;

        FETCH NEXT FROM cur_intervenciones_pendientes INTO @id_intervencion;
    END

    CLOSE cur_intervenciones_pendientes;
    DEALLOCATE cur_intervenciones_pendientes;
END
GO
/****** Objeto: StoredProcedure [OCN].[sp_intervencion_escalar_setbased] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [OCN].[sp_intervencion_escalar_setbased]
    @dias_antiguedad INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE OCN.intervencion
    SET estado = 'EnProceso',
        fecha_actualizacion = GETDATE()
    WHERE estado = 'Planeada'
      AND DATEDIFF(DAY, fecha_creacion, GETDATE()) > @dias_antiguedad;
END
GO
/****** Objeto: StoredProcedure [OCN].[sp_intervencion_insertar] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [OCN].[sp_intervencion_insertar]
    @id_deteccion INT,
    @id_recurso INT = NULL,
    @tipo_intervencion VARCHAR(100),
    @descripcion_intervencion VARCHAR(255),
    @responsable VARCHAR(100),
    @fecha_planeada DATETIME,
    @estado VARCHAR(20) = 'Planeada'
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO OCN.intervencion (id_deteccion, id_recurso, tipo_intervencion, descripcion_intervencion, responsable, fecha_planeada, estado)
    VALUES (@id_deteccion, @id_recurso, @tipo_intervencion, @descripcion_intervencion, @responsable, @fecha_planeada, @estado);

    SELECT SCOPE_IDENTITY() AS id_intervencion_creada;
END
GO
/****** Objeto: StoredProcedure [OCN].[sp_intervencion_registrar_completa] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [OCN].[sp_intervencion_registrar_completa]
    @id_deteccion INT,
    @id_recurso INT = NULL,
    @tipo_intervencion VARCHAR(100),
    @descripcion_intervencion VARCHAR(255),
    @responsable VARCHAR(100),
    @fecha_planeada DATETIME,
    @estado VARCHAR(20),
    @id_intervencion_generada INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM OCN.deteccion WHERE id_deteccion = @id_deteccion)
            THROW 50001, 'La deteccion indicada no existe.', 1;

        IF @id_recurso IS NOT NULL AND NOT EXISTS (SELECT 1 FROM OCN.recurso_comunitario WHERE id_recurso = @id_recurso)
            THROW 50002, 'El recurso comunitario indicado no existe.', 1;

        IF @estado NOT IN ('Planeada','EnProceso','Completada')
            THROW 50003, 'Estado de intervencion invalido.', 1;

        INSERT INTO OCN.intervencion (id_deteccion, id_recurso, tipo_intervencion, descripcion_intervencion, responsable, fecha_planeada, estado)
        VALUES (@id_deteccion, @id_recurso, @tipo_intervencion, @descripcion_intervencion, @responsable, @fecha_planeada, @estado);

        SET @id_intervencion_generada = SCOPE_IDENTITY();

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        INSERT INTO OCN.error_log (procedimiento, mensaje_error, numero_error, severidad_error, estado_error, linea_error)
        VALUES (OBJECT_NAME(@@PROCID), ERROR_MESSAGE(), ERROR_NUMBER(), ERROR_SEVERITY(), ERROR_STATE(), ERROR_LINE());

        SET @id_intervencion_generada = NULL;
        THROW;
    END CATCH
END
GO
/****** Objeto: StoredProcedure [OCN].[sp_registrar_deteccion] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [OCN].[sp_registrar_deteccion]
    @fecha_registro      datetime,
    @frecuencia          varchar(100),
    @intensidad          varchar(100),
    @observaciones       varchar(255),
    @descripcion_anonima varchar(255),
    @id_levantamiento    integer,
    @id_problematica     integer,
    @id_fuente           integer,
    @id_grupoetario      integer
as
begin
    insert into OCN.deteccion (
        fecha_registro,
        frecuencia,
        intensidad,
        observaciones_generales,
        descripcion_anonima,
        id_levantamiento,
        id_problematica,
        id_fuente,
        id_grupoetario
    )
    values (
        @fecha_registro,
        @frecuencia,
        @intensidad,
        @observaciones,
        @descripcion_anonima,
        @id_levantamiento,
        @id_problematica,
        @id_fuente,
        @id_grupoetario
    );

    select 'detección registrada correctamente.' as resultado;
end;
GO
/****** Objeto: StoredProcedure [OCN].[sp_resumen_por_zona] Fecha de script: 07/10/2026 04:58:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [OCN].[sp_resumen_por_zona]
    @id_zona integer = null
as
begin
    select
        z.nombre_zona                           as zona,
        tz.nombre_tipo_zona                     as tipo_zona,
        z.poblacion_aprox                       as poblacion,
        count(d.id_deteccion)                   as total_detecciones,
        sum(case when d.intensidad = 'alta' then 1 else 0 end) as detecciones_alta_intensidad,
        sum(case when d.intensidad = 'media' then 1 else 0 end) as detecciones_media_intensidad,
        sum(case when d.intensidad = 'baja' then 1 else 0 end) as detecciones_baja_intensidad
    from OCN.zona as z
        inner join OCN.tipo_zona as tz         on z.id_tipo_zona = tz.id_tipo_zona
        inner join OCN.levantamiento as l       on l.id_zona = z.id_zona
        inner join OCN.deteccion as d          on d.id_levantamiento = l.id_levantamiento
    where @id_zona is null or z.id_zona = @id_zona
    group by
        z.id_zona,
        z.nombre_zona,
        tz.nombre_tipo_zona,
        z.poblacion_aprox
    order by total_detecciones desc;
end;
GO
USE [master]
GO
